@inject IBULogin ibulogin

<h3 class="mt-4 mb-4 w-100 bg-info p-2 ">BoatUsersLogin</h3>

<div>@ibulogin.GetBULoginInfoAsync().Result.Count</div>

@if (ibulogin.GetBULoginInfoAsync().Result.Count == 0 )
{

    <div class="container bg-light border-2 border-dark rounded-2">

        <EditForm Model="@boatUser" OnValidSubmit="@AddUsers">

            <div class="pt-2 mt-2 mb-2">
                <label>UserName:</label>
                <InputText class="form-control" @bind-Value=boatUser.UserName type="text" name="ususername" />
            </div>
            <div class="mt-2 mb-2">
                <label class="">UserPassword:</label>
                <InputText class="form-control" @bind-Value=boatUser.Password type="text" name="uspassword" />
                <div>
                    <button class="mt-2 mb-2 btn btn-danger text-center mx-5" type="submit">Submit</button>
                </div>
            </div>

        </EditForm>
    </div>

}
@if (ibulogin.GetBULoginInfoAsync().Result.Count > 0 )
{

    foreach (var item in ibulogin.ServiceLoginList)
    {

        <div class="mb-2 bg-danger">Welcome @item.UserName, You are Logged In</div>
        <div>@item.IsLogedIn</div>
        <div>@item.Password</div>
        <div>@item.Timestamp</div>
    }
}
@code {

    BULoginModel boatUser = new BULoginModel();
    AzureBUDB azureDb = new();
    //different purpose
    private string BUUserName { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        //await ibulogin.AddBULoginInfoAsync(boatUser);
        //await ibulogin.GetBULoginInfoAsync();
    }
    public void AddUsers()
    {
        boatUser.IsLogedIn = true;
        ibulogin.AddBULoginInfoAsync(boatUser);


        azureDb.BUCreateTable("busrlogin").Wait();

        if (ibulogin.GetBULoginInfoAsync().Result.Count > 0)
        {

            if (ibulogin.GetBULoginInfoAsync().Result[0].UserName is not null)
            {
                ibulogin.GetBULoginInfoAsync().Result[0].IsLogedIn = true;
                string rowKey = Guid.NewGuid().ToString("N");
                var getUserName = azureDb.BUGetDataByQuery("busrlogin", ibulogin.GetBULoginInfoAsync().Result[0].UserName, ibulogin.GetBULoginInfoAsync().Result[0].Password);

                if (getUserName != null)
                {
                    BUUserName = getUserName.Result.UserName.ToString();

                }
                else
                {
                    azureDb.BUInsertData("busrlogin", rowKey, "client-boatusers-login", ibulogin.GetBULoginInfoAsync().Result[0].UserName, ibulogin.GetBULoginInfoAsync().Result[0].Password, ibulogin.GetBULoginInfoAsync().Result[0].IsLogedIn).Wait();
                    BUUserName = ibulogin.GetBULoginInfoAsync().Result[0].UserName.ToString();
                }
                boatUser = new();
            }
        }

    }
}

