@page "/weatherinfo"
@inject WeatherForecastService ForecastService

<PageTitle>Weather forecast</PageTitle>

<h1>Weather Info</h1>

<LoginRoute />

@if (ReceivedWeatherData.main == null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>City</th>
                <th>Wind Speed</th>
                <th>Pressure</th>
                <th>Humidity</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ReceivedWeatherData.name.ToString()</td>
                <td>@ReceivedWeatherData.wind.speed.ToString()</td>
                <td>@ReceivedWeatherData.main.pressure.ToString()</td>
                <td>@ReceivedWeatherData.main.humidity.ToString()</td>
                <td>@ReceivedWeatherData.weather[0].description.ToString()</td>
            </tr>
            
        </tbody>
    </table>
}

@code {

    private ResponseWeatherModel ReceivedWeatherData;

    //MTI1ZTUxdWlk313324368034E660810695C659D04F94E5270FA0EBF9E26F8FD9E027EC4310CE61A996667BB70DE8
    //https://shelly-48-eu.shelly.cloud

    protected override async Task OnInitializedAsync()
    {
        ReceivedWeatherData = await ForecastService.GetWeatherData();
    }
}
